<div class="row">
    <div class="col-md-2">
        <h3>Opportunity</h3>
        <!--<p>Opportunity ID: </p>
            <input class="form-control" ng-model="opportunity.id"/>-->
            <p>OG</p>
            <input class="form-control" ng-model="opportunity.og"/>
            <p>OU</p>
            <input class="form-control" ng-model="opportunity.ou"/>
            <p>CSG</p>
            <input class="form-control" ng-model="opportunity.csg"/>
            <p>Sub CSG</p>
            <input class="form-control" ng-model="opportunity.subCsg"/>
            <p>Master Client #</p>
            <input class="form-control" ng-model="opportunity.masterClient"/>
            <p>Industry Segment</p>
            <input class="form-control" ng-model="opportunity.industrySegment"/>
            <p>Industry Sub Segment</p>
            <input class="form-control" ng-model="opportunity.industrySubSegment"/>
            <p>Stage</p>
            <input class="form-control" ng-model="opportunity.stage"/>
            <p>ToW</p>
            <input class="form-control" ng-model="opportunity.tow"/>
            <p>Closed Quarter</p>
            <input class="form-control" ng-model="opportunity.closedQuarter"/>
            <br/>
<!--            <button class="btn btn-primary" ng-click="">View</button>
            <button class="btn btn-primary" ng-click="">Export</button>
-->
    </div>
    <div class="col-md-2">
        <h3>Financials</h3>
        <p>IC</p>
        <input class="form-control" ng-model="opportunity.ic"/>
        <p>MC</p>
        <input class="form-control" ng-model="opportunity.mc"/>
        <p>SC</p>
        <input class="form-control" ng-model="opportunity.sc"/>
        <p>SI</p>
        <input class="form-control" ng-model="opportunity.si"/>
        <p>TC</p>
        <input class="form-control" ng-model="opportunity.tc"/>
        <p>AO</p>
        <input class="form-control" ng-model="opportunity.ao"/>
        <p>BPO</p>
        <input class="form-control" ng-model="opportunity.bpo"/>
        <p>IO</p>
        <input class="form-control" ng-model="opportunity.io"/>
    </div>
    <div class="col-md-2">
        <h3>Classification</h3>
        <p>Opportunity class</p>
        <input class="form-control" ng-model="opportunity.opportunityContact"/>
        <p>Risk Profile</p>
        <input class="form-control" ng-model="opportunity.riskProfile"/>
        <p>Pricing Structure</p>
        <input class="form-control" ng-model="opportunity.pricingStructure"/>
        <p>Responsible Business Entity</p>
        <input class="form-control" ng-model="opportunity.responsibleBusinessEntity"/>
        <p>Responsible Business Entity - Override</p>
        <input class="form-control" ng-model="opportunity.responsibleBusinessEntity"/>
        <p>Client Classification Attribute</p>
        <input class="form-control" ng-model="opportunity.clientClassificationAttribute"/>
    </div>
    <div class="col-md-2">
        <h3>Indicators/Flags</h3>
        <p>Contract Extension Flag</p>
        <input class="form-control" ng-model="opportunity.contractExtensionFlag"/>
        <p>Software Delivery</p>
        <input class="form-control" ng-model="opportunity.softwareDelivery"/>
    </div>
    <div class="col-md-2">
        <h3>Locations</h3>
        <p>Client Location</p>
        <input class="form-control" ng-model="opportunity.clientLocation"/>
        <p>Selling Country</p>
        <input class="form-control" ng-model="opportunity.sellingCountry"/>
        <p>Geo Area</p>
        <input class="form-control" ng-model="opportunity.geoArea"/>
        <p>Geo Unit</p>
        <input class="form-control" ng-model="opportunity.geoUnit"/>
    </div>
    <div class="col-md-2">
        <h3>Attributes</h3>
        <p> TODO </p>
    </div>

</div>
<div class="row">
<div class="col-md-12">
    <button class="btn btn-primary" ng-click="generate()">generate</button>
    <hr/>
    <input class="form-control" ng-model="query"/>
    <button class="btn btn-primary" ng-click="askTheBot()">Ask The Bot</button>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <h2> Similar opportunities</h2>
    <p> success Rate : {{successRate*100}}% </p>
    <table class="table table-striped">
        <th>Opportunity ID</th>
        <th>OG</th>
        <th>OU</th>
        <th>CSG</th>
        <th>SubCSG</th>
        <th>Service Group</th>
        <th>Master Client #</th>
        <th>Closed Quarter</th>
        <th>Score</th>
        <th></th>
        <tr ng-repeat="o in opportunities">
            <td>{{o.opportunityId}}</td>
            <td>{{o.og}}</td>
            <td>{{o.ou}}</td>
            <td>{{o.csg}}</td>
            <td>{{o.subCsg}}</td>
            <td>{{o.serviceGroup}}</td>
            <td>{{o.masterClientClass}}</td>
            <td>{{o.closedQuarter}}</td>
            <td>{{o.score}}</td>
        </tr>
    </table>

</div>
</div>

</div>
<hr/>
